
{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $('#date').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy-mm-dd",
        language: "zh-CN"
    });
    </script>
{% endblock %}
{% block styles %}
{{ super() }}
    <style type="text/css">
        .table-hover>tbody>tr:hover {
        background-color: #f80;
        }
        tr>th, tr>td {
            text-align: center;
        }
    </style>
{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}车票查询{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
                {{ wtf.quick_form(form) }}
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>车次</th>
                    <th>车站</th>
                    <th>出发时间</th>
                    <th>到达时间</th>
                    <th>历时</th>
                    <th>商务座</th>
                    <th>特等座</th>
                    <th>一等座</th>
                    <th>二等座</th>
                    <th>高级<br>软卧</th>
                    <th>软卧</th>
                    <th>硬卧</th>
                    <th>软座</th>
                    <th>硬座</th>
                    <th>无座</th>
                </tr>
            </thead>
            {% if data_list %}
            <tbody>

                {% for line_info in data_list %}
                <tr>
                    <td>{{ line_info['station_train_code'] }}</td>
                    <td>{{ line_info['from'] }}<br>{{ line_info['to'] }}</td>
                    <td>{{ line_info['start_time'] }}</td>
                    <td>{{ line_info['arrive_time'] }}</td>
                    <td>{{ line_info['lishi']}}</td>
                    <td>{% if line_info['swz_num'] %}{{ line_info['swz_num']}}{% else %}--{% endif %}</td>
                    <td>{% if line_info['tz_num'] %}{{ line_info['tz_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['zy_num'] %}{{ line_info['zy_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['ze_num'] %}{{ line_info['ze_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['gr_num'] %}{{ line_info['gr_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['rw_num'] %}{{ line_info['rw_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['yw_num'] %}{{ line_info['yw_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['rz_num'] %}{{ line_info['rz_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['yz_num'] %}{{ line_info['yz_num'] }}{% else %}--{% endif %}</td>
                    <td>{% if line_info['wz_num'] %}{{ line_info['wz_num'] }}{% else %}--{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
<p>本地时间为:{{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}