{% extends "bootstrap/base.html" %}

{% block header %}
    <meta charset="UTF-8">
{% endblock %}


{% block title %}火车票查询首页{% endblock %}


{% block body %}
    <div class="container" >
        <form class="form-inline" action="{{ url_for('blue.train_query') }}" method="post">
            <div class="form-group">
                <span>日期</span><input type="date" name="date" placeholder="选择查询日期">
                <br>
            </div>
            <div class="form-group">
                <span>出发地</span><input type="text" name="add_depart" placeholder="请输入出发地">
                <br>
            </div>
            <div class="form-group">
                <span>目的地</span><input type="text" name="add_arrive" placeholder="请输入目的地">
                <br>
            </div>
            <div class="form-group">
                <button>查询</button>
            </div>
        </form>
    </div>
{% endblock %}
